---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>
{% for project in site.data.settings.research %}
<div class="row g-5 mb-5">
  <h4>{{ project.name }}</h4>
  <div class="col-md-6">
  {% capture content %}
    {% include {{ project.mdfile }} %}
  {% endcapture %}
  {{ content | markdownify }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ project.image }}" alt="Contact" width="100%">
  </div>
  {% if project.name != "Neuromodulation" %}
    <h3 class="fw-bold border-bottom pb-3 mb-3"></h3>
  {% endif %}
</div>
{% endfor %}
